<button class="btn btn-close" ng-click="signIn.close()">
    <icon icon="close"></icon>
</button>


<div class="auth__logo">
    <div class="auth__logo-insignia"></div>
    <div class="auth__logo-name"></div>
</div>

<div ng-show="signIn.state.component == 'form'">
    <div class="modal__body mt-lg">
        <alert ng-if="signIn.alert" message="signIn.alert.message" type="warning" class="mb-lg" title="signIn.alert.title"></alert>
        <div ng-if="signIn.state.submitFailed">
            <div class="alert">
                {{signIn.signInFailedMessage}}
            </div>
        </div>
        <h4 class="mb-md">Sign In</h4>
        <formly-form form="signIn.signInValidate" model="signIn.signInForm" fields="signIn.signInFields"></formly-form>
        Don't have an account? <a ng-click="signIn.register()">Register</a>
    </div>

    <div class="modal__footer">

        <button class="btn btn-primary"
                ng-disabled="signIn.signInValidate.$invalid"
                ng-click="signIn.submit()">
            Sign In
        </button>
        <button class="btn btn-grey-transparent" ng-click="signIn.close()">
            Cancel
        </button>
    </div>
</div>

<div style="height: 200px; position: relative;" ng-show="signIn.state.component == 'loading'">
    <div class="load">
        <div class="load"></div>
    </div>
</div>
