<div class="game-score-parent">
    <div ng-if="gameScore.state.component=='hasData'">
        <div class="pb-lg">
            <div class="score-graph__score-total">

                <score-graph score="gameScore.state.data"></score-graph>
            </div>
            <div class="score-graph__score">
                <div class="game-score">
                    <div class="game-score__title">
                        Gameplay
                    </div>
                    <div class="game-score__score">
                        {{gameScore.state.data.gameplay | number: 0}}
                    </div>
                    <div class="game-score__bar">
                        <div class="game-score__bar-amount"
                             ng-style="{
                    'width': gameScore.state.data.gameplay*10 + '%',
                    'backgroundColor': (gameScore.state.data.gameplay | ratingColor)
                }"></div>
                    </div>
                </div>
                <div class="game-score">
                    <div class="game-score__title">
                        Music/Sound
                    </div>
                    <div class="game-score__score">
                        {{gameScore.state.data.sound | number: 0}}
                    </div>
                    <div class="game-score__bar">
                        <div class="game-score__bar-amount"
                             ng-style="{
                    'width': gameScore.state.data.sound*10 + '%',
                    'backgroundColor': (gameScore.state.data.sound | ratingColor)
                }"></div>
                    </div>
                </div>
                <div class="game-score">
                    <div class="game-score__title">
                        Controls
                    </div>
                    <div class="game-score__score">
                        {{gameScore.state.data.controls | number: 0}}
                    </div>
                    <div class="game-score__bar">
                        <div class="game-score__bar-amount"
                             ng-style="{
                    'width': gameScore.state.data.controls*10 + '%',
                    'backgroundColor': (gameScore.state.data.controls | ratingColor)
                }"></div>
                    </div>
                </div>
                <div class="game-score">
                    <div class="game-score__title">
                        Story
                    </div>
                    <div class="game-score__score">
                        {{gameScore.state.data.story | number: 0}}
                    </div>
                    <div class="game-score__bar">
                        <div class="game-score__bar-amount"
                             ng-style="{
                     'width': gameScore.state.data.story*10 + '%',
                     'backgroundColor': (gameScore.state.data.story | ratingColor)
                 }"></div>
                    </div>
                </div>
                <div class="game-score">
                    <div class="game-score__title">
                        Graphics
                    </div>
                    <div class="game-score__score">
                        {{gameScore.state.data.graphics | number: 0}}
                    </div>
                    <div class="game-score__bar">
                        <div class="game-score__bar-amount"
                             ng-style="{
                     'width': gameScore.state.data.graphics*10 + '%',
                     'backgroundColor': (gameScore.state.data.graphics | ratingColor)
                 }"></div>
                    </div>
                </div>
                <div class="game-score">
                    <div class="game-score__title">
                        Replay Value
                    </div>
                    <div class="game-score__score">
                        {{gameScore.state.data.replayValue | number: 0}}
                    </div>
                    <div class="game-score__bar">
                        <div class="game-score__bar-amount"
                             ng-style="{
                     'width': gameScore.state.data.replayValue*10 + '%',
                     'backgroundColor': (gameScore.state.data.replayValue | ratingColor)
                 }"></div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="dot-list pbs-horiz-half">
            <li>
                <span>
                    Play Time
                </span>
                <span ng-if="gameScore.state.data.playTime">~{{gameScore.state.data.playTime | number: 0}} HRS</span>
                <span ng-if="!gameScore.state.data.playTime">N/A</span>
            </li>
        </ul>

        <div ng-show="gameScore.userId == 'me'" class="text-center">
            <button class="btn btn-primary-line" ng-click="gameScore.scoreThisGame();">
                Edit Your Score
            </button>
        </div>
    </div>
    <div class="load" ng-show="gameScore.state.component == 'loading'">
        <div class="load"></div>
    </div>

    <div ng-show="gameScore.state.component == 'error'">
        <h4 class="mt-lg">Whoops...</h4>
        <p>An Error occurred while getting your score. If this issue persists, contact us at <a href="mailto:help@gameslate.io">help@gameslate.io</a>.</p>
    </div>

    <div ng-show="gameScore.state.component == 'noScore'">
        <div ng-hide="gameScore.userId == 'me'">
            <h4 class="mt-lg">No Scoring Yet</h4>
            <p ng-show="gameScore.game.originalReleaseDate">Be the first to score this game!</p>
            <p ng-hide="gameScore.game.originalReleaseDate">
                This game has no confirmed release date.
            </p>
        </div>
        <div ng-show="gameScore.userId == 'me'">
            <h4 class="mt-lg">Score this Game</h4>
            <p ng-show="gameScore.game.originalReleaseDate">Tell the world how you really feel.</p>
            <p ng-hide="gameScore.game.originalReleaseDate">
                This game has no confirmed release date.
            </p>
        </div>

        <button class="btn btn-success"
                ng-show="gameScore.game.originalReleaseDate"
                ng-click="gameScore.scoreThisGame();">
            Score this Game
        </button>
    </div>
</div>

