<div class="score-parent">
    <div class="score-chooser" ng-hide="gameScoreChooser.state.displayBool">
        <div class="score-chooser__container"
             ng-click="gameScoreChooser.showScore(gameScoreChooser.state.user)">
            <div class="score-chooser__content" ng-if="gameScoreChooser.state.user.data">
                <div class="score-chooser__profile-img" profile-image="gameScoreChooser.state.user.profileImgUrl"></div>
                <div class="score-chooser__profile-handle ellipsis">@{{gameScoreChooser.state.user.username}}</div>
                <div class="score-chooser__graph" ng-if="gameScoreChooser.state.user.data">
                    <score-graph score="gameScoreChooser.state.user.data" small="true"></score-graph>
                </div>
                <div class="score-chooser__view-more">
                    Click to<br>view more
                </div>
            </div>
            <div class="score-chooser__loader load" ng-show="gameScoreChooser.state.user.component == 'loading'">
                <div class="load"></div>
            </div>
        </div>
        <div class="score-chooser__container"
             ng-click="gameScoreChooser.showScore()">
            <div class="score-chooser__content" ng-if="gameScoreChooser.state.community.data">
                <div class="profile-community score-chooser__profile-img"></div>
                <div class="score-chooser__profile-handle">Community</div>
                <div class="score-chooser__graph">
                    <score-graph score="gameScoreChooser.state.community.data" small="true"></score-graph>
                </div>
            </div>
            <div class="score-chooser__view-more">
                Click to<br>view more
            </div>
            <div class="score-chooser__loader load" ng-show="gameScoreChooser.community.component.loading">
                <div class="load"></div>
            </div>
        </div>
    </div>

    <div class="score-details" ng-show="gameScoreChooser.state.displayBool">
        <button class="btn btn-close" ng-click="gameScoreChooser.close();">
            <icon icon="close"></icon>
        </button>
        <div class="score-details__user">
            <span profile-image="gameScoreChooser.displayScore.profileImgUrl"
                  ng-show="gameScoreChooser.state.displayScore.username"></span>
            <span class="profile-community"
                  ng-hide="gameScoreChooser.state.displayScore.username"></span>
            {{gameScoreChooser.state.displayScore.username?'@'+gameScoreChooser.state.displayScore.username:'Community'}}
        </div>
        <game-score data="gameScoreChooser.state.displayScore.data"
                    ng-if="gameScoreChooser.state.displayScore.data"></game-score>
    </div>
</div>