<button class="btn btn-close" ng-click="vm.close()">
    <icon icon="close"></icon>
</button>

<div class="modal-header">
    <h4>
        Feedback
    </h4>
</div>

<div class="modal-body">

</div>

<div class="modal-footer">
    button
</div>