.modal-category-header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding-top: $modal-title-padding*2;
}

.modal-category-header-slate {
  @extend .modal-category-header;
  background-color: $color-accent-500;
  color: #fff;
}

.modal-category-body {
  margin-top: $modal-inner-padding;
}