.comment {
  background-color: darken($color-silver, 5%);
  border-radius: $border-radius-base;
  border: solid 1px darken($color-silver, 10%);
  margin-bottom: $base-spacing-half;
}

.comment__rating {
  font-size: 20px;
  font-weight: 700;
  color: $color-complement-800;
  text-align: center;
  width: 34px;
  float: left;
  margin: 20px 0 0 20px;
}

.comment__content {
  min-height: 22px;
  margin: 22px 20px 14px 68px;
}

.comment__handle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.comment__text {
  line-height: 1.4em;
}

.comment__helpful {
  @include clearfix;
  border-top: solid 1px darken($color-silver, 10%);
  padding: 10px;
  text-align: right;
  background-color: darken($color-silver, 7%);
  color: $color-primary-200;
  font-weight: 700;
}

.comment__helpful-btn {
  font-size: 12px;
  margin-left: 10px;
  border-color: darken($color-silver, 10%);
  background-color: #fff;
  color: $color-primary-200;

  svg.icon {
    display: inline-block;
    margin-left: $base-spacing-unit;
    width: 16px;
    height: 16px;
    fill: $color-primary-100;
  }
}