.dropdown-content {
	position: fixed;
	width: 240px;
	border-radius: 3px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.2);
	z-index: $zindex-dropdown;
	display: none;
	background-color: #fff;
	overflow: hidden;

	&.active {
		display: block;
	}

	&.dropdown-content__sm {
		width: 140px;
	}
}

.dropdown-content__contain {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}