game-box {
	display: block;
}

.game-box {
	display: block;
	position: relative;
	margin-bottom: 20px;

	&::before {
		background-color: darken($color-silver, 5%);
		transition: transform 100ms ease, opacity 100ms ease;
		content: '';
		transform: scale(.9, .9);
		border-radius: $border-radius-base;
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: 0;
		opacity: 0;
	}

	.game-box__cover-img {
		position: relative;
		width: 100%;
		padding-bottom: 115%;
		background-color: darken($color-silver, 10%);
		z-index: 1;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $border-radius-base;
		overflow: hidden;
		box-shadow: inset 0 0 0 1px rgba(darken($color-silver, 20%), .3);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			transition: opacity 300ms ease;
			background-color: $color-primary-700;
			opacity: 0;
			z-index: 1;
		}
	}

	.game-box__actions {
		position: absolute;
		z-index: 2;
		right: 5px;
		top: 5px;
		opacity: 0;
		transition: opacity 100ms ease;
	}

	&:hover {
		text-decoration: none;

		&::before {
			transform: scale(1, 1);
			opacity: 1;
		}

		.game-box__actions {
			opacity: 1;
		}

		//.game-box__cover-img::after {
		//	opacity: .3;
		//}
	}
}

.game-box__info {
	position: relative;
	z-index: 1;
}

.game-box__title {
	color: $color-grey-900;
	font-weight: 500;
	padding-top: 4px;
}

.game-box__details {
	color: $color-grey-500;
}

.game-box__no-img {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 50%;
	margin-top: -10px;
	opacity: .5;

	svg.icon {
		fill: $color-primary-500;
	}
}