$game-score-mobile: 460px;

.game-score-parent  {
	min-height: 100px;
	position: relative;
	width: 282px;
	margin: 0 auto;

	@media (min-width: $game-score-mobile) {
		width: auto;
		margin: auto;
	}
}

.score-graph__score-total {
	padding: 36px 0 10px 0;
	float: left;

	path {
		transform: scaleX(-1);
		filter: FlipH;
	}

	@media (min-width: $game-score-mobile) {
		padding: 36px 20px 10px 20px;
	}
}

.score-graph__score {
	padding-top: 20px;
	margin-left: 120px;

	@media (min-width: $game-score-mobile) {
		margin-left: 150px;
	}
}

.game-score {
	height: 20px;
	overflow: hidden;
	margin-bottom: 6px;
	font-size: 12px;

	@media (min-width: $game-score-mobile) {
		font-size: 14px;
	}
}

.game-score__title {
	width: 110px;
	float: left;
	text-transform: uppercase;
	text-align: right;
	font-weight: 700;
	color: $color-grey-700;
}

.game-score__bar {
	margin-left: 122px;
	margin-right: 40px;
	height: 10px;
	background-color: $color-grey-100;
	border-radius: 5px;
	margin-top: 3px;
	display: none;

	@media (min-width: $game-score-mobile) {
		display: block;
	}


}

.game-score__bar-amount {
	background-color: $color-primary-500;
	float: left;
	height: 10px;
	border-radius: 5px;
}

.game-score__score {
	text-align: left;
	width: 30px;
	font-weight: 700;
	float: left;
	margin-left: 20px;

	@media (min-width: $game-score-mobile) {
		float: right;
		margin-left: 0;
	}
}

.rate-game__container.rate-game__container--rate {

	@media (max-width: $screen-xs-max) {
		.game-score {
			height: 50px;
			overflow: auto;
		}

		.game-score__title {
			float: none;
			text-align: left;
		}

		.game-score__bar {
			display: block;
			margin-left: 0;
			margin-right: 54px;
			height: 20px;
			border-radius: 15px;
		}

		.game-score__score {
			float: right;
			display: block;
			font-size: 14px;
			margin-top: 4px;
		}

		.game-score__bar-amount {
			height: 20px;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
		}

		slider .bubble.low {
			height: 24px;
		}
	}
}


/**
 SCORE CHOOSER
 **/

.score-parent {
	position: relative;
	height: 310px;
}

.score-chooser {
	cursor: default;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	&.ng-hide-add, &.ng-hide-remove {
		transition: opacity 300ms ease;
	}

	&.ng-hide {
		opacity: 0;
	}
}

.score-chooser__container {
	position: relative;
	width: 160px;
	height: 310px;
	padding: 20px 10px;
	border-radius: $border-radius-base;
	overflow: hidden;
	border: solid 2px transparent;
	display: inline-block;
	cursor: pointer;
	transition: border 200ms ease;

	.score-chooser__view-more {
		text-align: center;
		display: block;
		opacity: 0;
		margin-bottom: 12px;
		transition: opacity 200ms ease;
		color: $color-primary-500;
	}

	&:hover {
		border-color: darken($color-silver, 5%);

		.score-chooser__view-more {
			opacity: 1;
		}
	}
}

.score-chooser__profile-img {
	display: block;
	margin: 20px auto 10px auto;
}

.score-chooser__profile-handle {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 24px;
}

.score-chooser__graph {
	text-align: center;
	margin-bottom: 20px;
}

.score-details {
	width: auto;
	position: relative;
	margin: 0 auto;
	z-index: 1;
	border-radius: $border-radius-base;
	padding: 20px 10px;

	&.ng-hide-add, &.ng-hide-remove {
		transition: opacity 300ms ease;
	}

	&.ng-hide {
		opacity: 0;
	}

	@media (min-width: $screen-sm-min) {
		width: 500px;
	}
}

.score-details__user {
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
	}
}