header-blur, .header-blur {
	display: block;
	position: relative;
	overflow: hidden;
	background-color: $color-primary-700;

	> *:not(header-blur-child) {
		position: relative;
		z-index: 1;
	}
}

header-blur-child, .header-blur-child {
	display: block;
	position: absolute;
	left: -8px;
	right: -8px;
	top: -8px;
	bottom: -8px;
	opacity: -8px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(8px);
	z-index: 0;
}