image-slider, .slider {
  position: relative;
  display: block;
  background-color: $color-primary-700;
  overflow: hidden;
  user-select: none;

  .slider-item-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  image-slider-item, .slider-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .slider-image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-primary-700;
    background-position: center;
    background-size: cover;
  }

  image-slider-indicators, .slider-indicators {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 10;
	  color: #fff;

    .indicator {
      cursor: pointer;
      width: 8px;
      height: 8px;
      display: inline-block;
      margin: 0 4px;
      background-color: #fff;
      border-radius: 50%;
      opacity: .5;
      transition: opacity 200ms ease;

      &.active {
        opacity: 1;
      }
    }
  }

  image-slider-numbers, .slider-numbers {
    display: block;
    z-index: 10;
    background-color: rgba($color-primary-700, .6);
    border-radius: $border-radius-base;
    padding: 6px 10px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 700;
    cursor: default;
  }

  .slider-bar {
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(#fff, .5);
    z-index: 10;
  }

  .slider-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    background: none;
    transition: opacity 200ms ease;
    opacity: .3;
    z-index: 10;

    svg.icon {
      height: 30px;
      width: 30px;
      fill: $color-grey-300;
	    filter: drop-shadow(16px 16px 20px blue);
    }

    &:hover, &:active, &:visited, &:focus {
      outline: none;
	    box-shadow: none;
    }

    &:hover {
      opacity: 1;
    }

    &.slider-previous {
      left: 0;
    }

    &.slider-next {
      right: 0;
    }

    @media (min-width: $screen-sm-min) {
      opacity: .5;
    }

  }

  &:hover, &:active, &:visited, &:focus {
    cursor: default;
  }
}

.slider__no-image {
	position: absolute;
	z-index: 10;
	color: #fff;
	top: 50%;
	left: 0;
	right: 0;
	opacity: .5;
	margin-top: -10px;
	text-align: center;

	span {
		vertical-align: middle;
		font-size: 20px;
		margin-left: 8px;
		display: inline-block;
	}

	svg.icon, svg.icon path {
		height: 26px;
		width: 26px;
		vertical-align: middle;
		fill: #fff !important;
	}
}

.image-slider__cover-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}