.main-nav {
	height: 50px;
	z-index: 999;
	user-select: none;
	position: fixed;
	top: -1px;
	left: 0;
	right: 0;
	padding-top: 1px;
	transition: background-color 200ms ease, box-shadow 200ms ease;

	&.isScrolled {
		background-color: $color-primary-700;
		box-shadow: 0 2px 2px rgba(#000, .1);
	}

	.main-nav__beta {
		color: $color-accent-400;
		position: absolute;
		font-size: 12px;
		font-weight: 700;
		font-style: italic;
		text-align: center;
		top: 9px;
		left: 130px;
		width: 50px;
	}

	.main-nav__logo {
		cursor: pointer;
		transition: opacity 200ms ease;
		margin: 11px 0 0 0;
		float: left;
		width: 150px;
		position: relative;
		line-height: 15px;
		text-decoration: none;

		.main-nav__logo-load {
			width: 24px;
			height: 24px;
			display: inline-block;
			position: relative;
			@include loader(#fff, 24px);
		}

		.main-nav__logo-insignia {
			background-repeat: no-repeat;
			width: 24px;
			height: 26px;
			color: #fff;
			display: inline-block;
			@include svg-logo-insignia-white;
		}

		.main-nav__logo-name {
			background-repeat: no-repeat;
			width: 102px;
			height: 26px;
			color: #fff;
			margin-left: 10px;
			display: inline-block;
			@include svg-logo-name-white;
		}

		&:hover {
			opacity: 1;
		}
	}

	.main-nav__search {
		position: relative;
		margin: 0 240px 0 190px;

		&.main-nav--authenticated {
			margin-right: 170px;
		}
	}


	.main-nav__menu {
		float: right;
		overflow: hidden;
		text-align: right;
	}

	.main-nav__links {
		display: inline-block;
		margin-left: 10px;
		cursor: default;

		button {
			margin: 9px 0 0 4px;

			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
			}

			svg.icon {
				position: relative;
				fill: #fff;
				vertical-align: middle;
			}
		}
	}

	.main-nav__profile {
		height: 50px;
		display: inline-block;
		cursor: pointer;
		vertical-align: middle;

		.main-nav__profile-img {
			height: 50px;
			padding: 8px 14px 0 14px;

			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
			}

			span {
				color: #fff;
				display: inline-block;
				margin-left: 5px;
				vertical-align: middle;
			}

			&:hover {
				background-color: rgba(white, .2);
			}

			&.active {
				background-color: rgba(white, .2);
			}
		}
	}

	// needs to be controlled in here
	search-input {
		.search__input {
			margin-top: 9px;
			border: none;
			background-color: rgba(#fff, .1);
			transition: background-color 200ms ease;
			color: #fff;
			padding-left: 40px;

			&::placeholder {
				transition: color 200ms ease;
				color: #fff;
			}
		}

		.search__input-icon {
			position: absolute;
			top: 3.5px;
			left: 6px;
			height: 18px;
			width: 18px;

			svg.icon {
				transition: fill 200ms ease;
				fill: #fff;
				height: 18px;
				width: 18px;
			}
		}

		.search-results {
			display: none;
		}

		&.isFocus {
			.search__input {
				background-color: #fff;
				color: $color-grey-900;

				&::placeholder {
					color: $color-grey-400;
				}
			}

			.search__input-icon svg.icon {
				fill: $color-grey-900
			}

				.search-results {
				display: block;
			}
		}
	}


	&.isLight {
		background-color: $color-silver;

		.main-nav__logo-insignia {
			@include svg-logo-insignia-grey;
		}

		.main-nav__logo-name {
			@include svg-logo-name-grey;
		}

		.main-nav__logo-load {
			@include loader(#404040, 24px);
		}

		search-input {
			.search__input {
				background-color: rgba($color-primary-700, .1);
				color: $color-grey-900;

				&::placeholder {
					color: $color-grey-400;
				}
			}

			.search__input-icon svg.icon {
				fill: $color-grey-500;
			}

			&.isFocus {
				.search__input {
					background-color: rgba($color-primary-700, .16);
					color: $color-grey-900;

					&::placeholder {
						color: $color-grey-400;
					}
				}
			}
		}

		.main-nav__links {
			button {
				color: $color-grey-900;
				svg.icon {
					fill: $color-grey-900;
				}
				&:hover {
					background: rgba($color-primary-700, .1);
				}
			}
		}

		.main-nav__profile {
			.main-nav__profile-img {
				span {
					color: $color-grey-900;
				}

				&:hover {
					background-color: rgba($color-primary-700, .1);
				}

				&.active {
					background-color: rgba($color-primary-700, .1);
				}
			}
		}

	}

}


.drawer__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9998;
	background-color: rgba($color-primary-900, .9);
	display: none;
}

.drawer {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 240px;
	z-index: 9999;
	background-color: $color-silver;
	display: none;

}

.drawer__logo {
	position: absolute;
	bottom: 20px;
	right: 0;
	left: 0;
	margin: 0 auto;

	.insignia {
		width: 24px;
		height: 26px;
		margin: 0 auto 7px auto;
		background-repeat: no-repeat;
		@include svg-logo-insignia-grey;
	}

	.name {
		width: 102px;
		height: 26px;
		margin: 0 auto;
		background-repeat: no-repeat;
		@include svg-logo-name-grey;
	}
}
