platform {
	display: inline-block;
	text-align: center;
	margin-right: $base-spacing-unit;
	padding: 4px 16px 0 0;//padding: 4px 16px 4px 10px;
	border-radius: 20px;
	margin-top: $base-spacing-unit;
	cursor: default;
	border: solid 1px transparent;

	.platform__icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;

		svg.icon {
			height: 26px;
			width: auto;
		}
	}

	.platform__text {
		font-weight: 700;
		text-transform: uppercase;
		vertical-align: middle;
		font-size: 12px;
		display: inline-block;
	}

	&:hover {
		//background-color: $color-silver;
		//border-color: darken($color-silver, 10%);
	}
}