.rate-game__container {
  padding: 20px 0;

  @media (min-width: $screen-sm-min) {
    padding: 20px 80px;
  }
}

.rate-game__comment {
  padding: 40px 0;
  border-top: solid 1px #d3d3d3;

  @media (min-width: $screen-sm-min) {
    padding: 40px 30px;
  }
}

.rate-game__comment-markup {
  color: #a3a3a3;
  display: block;
  margin-top: 4px;

  a {
    display: inline-block;
    margin-left: 5px;
    font-weight: 500;
  }
}