.search__input {
	border-radius: 16px;
}

.search-results {
	position: absolute;
	z-index: 0;
	top: 100%;
	margin-top: 4px;
	left: 0;
	right: 0;
	background-color: #fff;
	border-radius: $border-radius-base;
	box-shadow: 0 4px 20px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.2);
}