slate-box {
	display: block;
}

.slate-box {
	display: block;
	position: relative;
	margin-bottom: 20px;

	&::before {
		background-color: darken($color-silver, 5%);
		transition: transform 100ms ease, opacity 100ms ease;
		content: '';
		transform: scale(.9, .9);
		border-radius: $border-radius-base;
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: 0;
		opacity: 0;
	}

	&:hover {
		text-decoration: none;

		&::before {
			transform: scale(1, 1);
			opacity: 1;
		}

	}
}

.slate-box__contain {
	position: relative;
	background-color: #fff;
	border-radius: $border-radius-base;
	box-shadow: 0 2px 10px rgba(#000, .1);
	z-index: 1;
}

.slate-box__details {
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: $border-radius-base $border-radius-base 0 0;
	border: solid 1px darken($color-silver, 15%);
	border-bottom: none;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: darken($color-silver, 10%);
		opacity: .5;
		z-index: 1;
	}

	.slate-box__blur {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		filter: blur(3px);
	}

	.slate-box__author {
		position: relative;
		z-index: 2;
		padding: 14px;
	}

	.slate-box__author-img {
		display: block;
		float: left;
		margin-right: 8px;
	}

	.slate-box__author-handle {
		color: $color-grey-900;
		line-height: 14px;
		padding-top: 2px;
		font-size: 13px;
		font-weight: 500;
		padding-right: 20px;
	}

	.slate-box__author-published {
		color: $color-grey-900;
		font-size: 10px;
		line-height: 14px;
		text-transform: uppercase;
		padding-top: 1px;
		opacity: .8;
	}

	.slate-box__draft-label {
		position: relative;
		z-index: 2;
		float: right;
		margin: 18px 14px 0 0
	}

	.slate-box__thumb {
		position: relative;
		color: $color-grey-500;
		z-index: 2;
		display: inline-block;
		float: right;
		margin: 18px 14px 0 0;
	}

	.slate-box__thumb-icon {
		display: inline-block;
		margin-right: 3px;
		vertical-align: middle;

		svg.icon {
			fill: $color-grey-500;
			height: 16px;
			width: 16px;
			margin-top: 2px;
		}
	}

	.slate-box__thumb-rating {
		display: inline-block;
		font-weight: 500;
		vertical-align: middle;
	}


	&.slate-box__image {

		&::after {
			opacity: .7;
			background-color: $color-primary-700;
		}

		.slate-box__author-handle {
			color: #fff;
		}

		.slate-box__author-published {
			color: #fff;
		}

		.slate-box__thumb {
			color: #fff;
		}

		.slate-box__thumb-icon svg.icon {
			fill: #fff;
		}
	}
}

.slate-box__content {
	color: $color-grey-900;
	padding: 10px 14px 14px 14px;
	border-radius: 0 0 $border-radius-base $border-radius-base;
	border: solid 1px darken($color-silver, 15%);
	border-top: none;
	height: 103px;
}


.slate-box__title {
	font-size: 1.4em;
	font-weight: 700;
	padding-top: 10px;
}

.slate-box__lead {
	font-size: 1.2em;
	padding-top: 4px;
	font-style: italic;
	color: $color-grey-500;
}

.slate-box__excerpt {
	font-size: 1.1em;
	padding-top: 4px;

	p {
		margin-bottom: 0;
	}
}

.slate-box__game {
	text-transform: uppercase;
	color: $color-primary-500;
	font-size: .8em;
	font-weight: 700;
	padding-top: 4px;
	opacity: .6;
}