slider {
  display: block;
  height: 10px;
  position: relative;
  padding-right: 10px;

  .bubble.low {
    text-indent: -9999px;
    width: 6px;
    height: 14px;
    border-radius: 4px;
    background-color: $color-grey-900;
    top: -2px;
  }

  .bubble.limit.floor, .bubble.limit.ceiling {
    display: none !important;
  }
}
