.tabs {
  cursor: default;
}

.tabs-btn {
  border: none;
  position: relative;
  background: transparent;
  display: inline-block;
  padding: 0 10px 14px 10px;
  margin-right:14px;
  font-size: 16px;
  font-weight: 700;
  color: $color-grey-900;
  opacity: .5;
	cursor: pointer;
  user-select: none;

	.tabs-btn__handle {
		margin-left: 4px;
		display: none;
	}

	span {
		vertical-align: middle;
	}

  &:after {
    content: '';
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    right:0;
    background-color: $color-primary-500;
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  &:hover,&:focus {
    box-shadow: none;
    outline: none;
  }

  &.isActive {
    opacity: 1;

    &:after {
      opacity: 1;
    }

    &:hover {
      cursor: default;
    }
  }

	@media (min-width: $screen-md-min) {
		.tabs-btn__handle {
			display: inline-block;

		}
	}
}


.tabs-line {
	height: 2px;
	background-color: $color-grey-50;
	margin-top: -2px;
}


.tabs-group {
  .tabs-group-action {
    display: flex;
    user-select: none;
  }
  .tabs-group-btn {
    height: 41px;
    line-height: 41px;
    text-align: center;
    border: solid 1px $color-grey-100;
    background-color: transparent;
    flex-grow: 1;
    margin-left: -1px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

    &:first-child {
      border-bottom-left-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
      margin-left: 0;
    }

    &:last-child {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }

    &.isActive {
      background-color: #e6ebef;
      z-index: 10;
      cursor: default;
    }

    &:active, &:focus {
      outline: none;
    }

    &.tabs-group-btn-success {
      border-color: $color-success-500;
      color: $color-success-600;
      font-weight: 700;

      &:hover {
        background-color: $color-success-600;
        border-color: $color-success-700;
        color: #fff;
      }
    }

    &.tabs-group-btn-regular {
      z-index: 20;
    }
  }

  &.tabs-group-sm {
    .tabs-group-btn {
      height: auto;
      line-height: 1em;
      padding: $base-spacing-unit;
      font-size: 12px;
    }
  }
}

