.tags {
	margin: 40px 0;

	.tag {
		margin: 0 10px 12px 0;
	}
}

.tag {
	display: inline-block;
	background-color: $color-grey-25;
	border-radius: $border-radius-base;
	box-shadow: 0 3px 0 $color-grey-75;
	position: relative;
	cursor: default;
}

.tag__key {
	display: inline-block;
	padding: 6px 8px;
	font-weight: 500;
	border: solid 1px $color-grey-100;
	border-bottom-left-radius: $border-radius-base;
	border-top-left-radius: $border-radius-base;
}

.tag__val {
	display: inline-block;
	padding: 6px 30px 6px 8px;
	border: solid 1px $color-grey-100;
	border-left: none;
	border-top-right-radius: $border-radius-base;
	border-bottom-right-radius: $border-radius-base;
}

.tag.tag__view-only .tag__val {
	padding-right: 8px;
}

.tag__close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	right: 6px;
	border-radius: 50%;
	text-align: center;
	padding-top: 3px;
	opacity: .5;
	cursor: pointer;

	svg.icon {
		width: 14px;
		height: 14px;
	}

	&:hover {
		opacity: 1;
	}
}

.tag__input {
	display: inline-block;
	position: relative;

	input {
		padding: 6px 8px;
		border-radius: $border-radius-base;
		border: solid 1px $color-grey-100;
		box-shadow: 0 3px 0 $color-grey-75;
		background-color: #fff;
		width: 200px;

		&:hover, &:focus, &:active {
			box-shadow: 0 3px 0 $color-grey-75;
			outline: none;
		}

		&:focus {
			border-color: $color-primary-500;
		}
	}
}

.tag-input__tag {

	.tag__key {
		position: relative;
		padding-right: 30px;
	}

	.tag__close {
		svg.icon {
			fill: #fff;
		}
	}

	input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: none;
	}
}

.tag__dropdown {
	position: absolute;
	top: 100%;
	background-color: #fff;
	left: 0;
	right: 0;
	margin-top: -2px;
	border: solid 1px $color-grey-100;
	border-bottom-left-radius: $border-radius-base;
	border-bottom-right-radius: $border-radius-base;
	box-shadow: 0 4px 20px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.2);
	z-index: 999;
}





.tag--media .tag__key {
	border-color: $color-primary-700;
	background-color: $color-primary-500;
	color: #fff;
}

.tag--genre .tag__key {
	border-color: $color-accent-700;
	background-color: $color-accent-500;
	color: #fff;
}

.tag--category .tag__key {
	border-color: $color-complement-800;
	background-color: $color-complement-700;
	color: #fff;
}

.tag-- {
	.tag__key {
		display: none;
	}

	.tag__val {
		border-radius: $border-radius-base;
		border: solid 1px $color-grey-100;
	}
}