.thumb-rating {

}
.thumb-rating__up, .thumb-rating__down {
	border: solid 2px $color-grey-75;
	background: transparent;
	border-radius: $border-radius-base;
	margin-left: $base-spacing-unit;
	padding: 6px 8px;
	color: $color-grey-300;

	* {
		vertical-align: middle;
	}

	> svg.icon {
		height: 18px;
		width: 18px;
		fill: $color-grey-300;
		display: inline-block;
	}

	> span {
		font-weight: 500;
		display: inline-block;
		margin-left: $base-spacing-unit;
	}

	&:hover, &:focus {
		outline: none;
		box-shadow: none;
	}
}

.thumb-rating__up {
	&:hover {
		color: $color-success-500;
		border-color: $color-success-500;
		> svg.icon {
			fill: $color-success-500;
		}
	}
	&.active {
		color: #fff;
		border-color: $color-success-500;
		background-color: $color-success-500;
		> svg.icon {
			fill: #fff;
		}
	}
}

.thumb-rating__down {
	&:hover {
		color: $color-error-500;
		border-color: $color-error-500;
		> svg.icon {
			fill: $color-error-500;
		}
	}
	&.active {
		color: #fff;
		border-color: $color-error-500;
		background-color: $color-error-500;
		> svg.icon {
			fill: #fff;
		}
	}
}