.toaster {
	position: fixed;
	z-index: 10000;
	user-select: none;
	right: 0;
	left: 0;
	bottom: 0;

	@media (min-width: $review-sm-min) {
		bottom: 10px;
		left: 20px;
		right: auto;
		width: 300px;
	}
}

.toaster__el-animate {
	position: relative;
}

.toaster__el {
	background-color: $color-grey-900;
	color: #fff;
	padding: ($base-spacing-half - 3px) $base-spacing-half $base-spacing-half $base-spacing-half;
	margin-bottom: 0;
	border-top: solid 1px rgba($color-silver, .1);

	svg.icon {
		fill: #fff;
	}

	@media (min-width: $review-sm-min) {
		border: none;
		margin-bottom: 10px;
		border-radius: $border-radius-base;
	}
}

.toaster__el-warning {
	background-color: $color-warning-700;
}

.toaster__el-error {
	background-color: $color-error-700;
}

.toaster__el-success {
	background-color: $color-success-700;
}

.toaster__title {
	font-size: 1.2em;
	font-weight: 500;
	margin-right: 40px;
	margin-bottom: 2px;
}

.toaster__content {
	font-size: 1.1em;
	margin-right: 40px;
}

.toaster__close {
	padding: 3px;
	background-color: transparent;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 22px;
	width: 22px;
	border-radius: floor($border-radius-base/2);

	svg.icon {
		height: 16px;
		width: 16px;
	}

	&:hover {
		background-color: rgba(#000, .2);
	}

	&:active {
		background-color: rgba(#000, .3);
	}
}