<div class="about__container">
    <main-nav background="true?'light':''"></main-nav>
    <div class="container-slate">
        <h2 class="text-center">About Game Slate</h2>
        <p class="lead text-center">
            Game Ratings and Reviews by You
        </p>
        <div class="text-center edit-slate__content medium-styles">
            <hr>
            <h3>Produce Professional Grade Reviews</h3>
            <p>Use the minimalist editor to add an appealing game review or article that will be front and center.</p>
            <hr>
            <h3>Game Equality</h3>
            <p>It's not a battle between Indie vs AAA. It's a battle of how good the game is. All games are presented on equal footing and to rise to the top, will need the support of Game Slate community.</p>
            <hr>
            <h3>Inappropriate Content and Language</h3>
            <p>We will not tolerate hate or discriminating language in Slates. We will also not tolerate explicit images and excessive language.</p>
            <hr>
            <h3>We are not a Wiki</h3>
            <p>If you're looking to contribute to technical game release details, such as a second release date for a particular region, you'll want to go to a quality Wiki  site.</p>
            <hr>
            <h3>Feedback</h3>
            <p>
                Game Slate is in Beta. If you notice bugs, missing games, bad game data, or would love a feature added,
                please submit the request
                <a href="https://docs.google.com/forms/d/11gI9rvy33k_GqWwVjj3Rxf79g8P2ZiXD5o9KZYSoX6w/viewform" class="strong" target="_blank">here</a>.
                To view outstanding requests, and vote for what you want most, please visit our
                <a class="strong" href="https://trello.com/b/kokTF81e/game-slate-requests" target="_blank">Request Board</a>.
            </p>
            <hr>
            <h3>About the team</h3>
            <p>We're a small group of video game lovers hailing from Washington and Florida and assembled in Silicon Slopes, Utah.</p>
            <div class="about-team">
                <div class="about-team__member">
                    <div class="about-team__member-img"
                         style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_100_100/p/4/000/179/09c/05f76c0.jpg');" ></div>
                    <div class="about-team__member-name">Derek Lefler</div>
                    <div class="about-team__member-info">Product</div>
                    <div class="about-team__member-links">
                        <a class="btn" href="https://www.linkedin.com/in/dereklefler" target="_blank">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div class="about-team__member">
                    <div class="about-team__member-img"
                         style="background-image: url('https://pbs.twimg.com/profile_images/626973059795124225/NY9oturE.jpg');" ></div>
                    <div class="about-team__member-name">Tony Lefler</div>
                    <div class="about-team__member-info">Developer</div>
                    <div class="about-team__member-links">
                        <a href="https://twitter.com/geoctrl" class="btn" target="_blank">
                            Twitter
                        </a>
                        <a class="btn" href="https://www.linkedin.com/in/tonylefler" target="_blank">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div class="about-team__member">
                    <div class="about-team__member-img"
                         style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/141/3be/3134ed3.jpg');" ></div>
                    <div class="about-team__member-name">Cameron Nokes</div>
                    <div class="about-team__member-info">Developer</div>
                    <div class="about-team__member-links">
                        <a class="btn" href="https://www.linkedin.com/in/cameron-nokes-25147b2a" target="_blank">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div class="about-team__member">
                    <div class="about-team__member-img"
                         style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/000/1f9/121/35b9fbe.jpg');" ></div>
                    <div class="about-team__member-name">Craig Perkins</div>
                    <div class="about-team__member-info">Developer</div>
                    <div class="about-team__member-links">
                        <a class="btn" href="https://www.linkedin.com/in/craig-perkins-a5961019" target="_blank">
                            LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Contact Us</h3>
            <p>Have questions? Contact us and we'll be happy to respond.</p>
            <a href="mailto:info@gameslate.io" target="_blank">info@gameslate.io</a>
        </div>
    </div>
</div>
