<div itemscope itemtype="http://schema.org/VideoGame">
    <header-blur class="game-header" image-url="game.data.images[0]">
        <main-nav></main-nav>
        <div class="container page-head__container">
            <div class="page-head__left">
                <div class="page-head">
                    <h1 class="page-head__name ellipsis" itemprop="name">
                        {{game.data.title}}
                    </h1>
                    <div class="page-head__sub" itemprop="datePublished">
                        <span ng-show="game.data.originalReleaseDate && game.gameHasReleased">
                            Released {{game.data.originalReleaseDate | defaultDate}}
                        </span>
                        <span ng-show="game.data.originalReleaseDate && !game.gameHasReleased">
                            Expected to release on {{game.data.originalReleaseDate | defaultDate}}
                        </span>
                        <span ng-hide="game.data.originalReleaseDate">
                            Release date not confirmed
                        </span>
                    </div>
                </div>
            </div>
            <div class="page-head__right">
                <button class="btn btn-white mr-md" ng-click="game.writeSlate()">
                    Write a Slate
                </button>
                <wishlist-btn game-object="game.data"></wishlist-btn>
                <button class="btn btn-white-transparent" ng-click="game.share()">
                    <icon icon="share"></icon>&nbsp;
                    Share
                </button>
            </div>
        </div>
    </header-blur>
    <div class="game-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <image-slider duration="10000"
                                  backdrop class="game-info__images"
                                  backdrop-opacity="1">
                        <image-slider-item cover-img="{{game.data.coverImgUrl}}" background-color="#e4ebf0"
                                           ng-if="game.data.coverImgUrl"></image-slider-item>
                        <image-slider-item ng-repeat="image in game.data.images track by $index" background="{{image}}"></image-slider-item>
                        <image-slider-numbers></image-slider-numbers>
                    </image-slider>
                    <h4 class="section__title mt-lg">
                        Description
                    </h4>
                    <p class="game-info__description mb-lg" itemProp="description">
                        {{game.data.description}}
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="tabs" tabs>
                        <div class="tabs-btn" tabs-item="community">
                            <span class="profile-community"></span>
                            <span class="tabs-btn__handle">Community</span>
                        </div>
                        <div class="tabs-btn" tabs-item="user" ng-if="game.userIsAuthenticated">
                            <span profile-image="game.me.profileImgUrl"></span>
                            <span class="tabs-btn__handle">@{{game.me.username}}</span>
                        </div>
                        <hr class="mb-md" style="margin-top: -2px;">
                        <div tabs-content="community">
                            <game-score game-object="game.data"></game-score>
                        </div>
                        <div tabs-content="user" ng-if="game.userIsAuthenticated">
                            <game-score user-id="me"
                                        game-object="game.data"></game-score>
                        </div>
                    </div>
                    <hr>
                    <h4 class="section__title">
                        Platforms
                    </h4>
                    <div class="game-platforms">
                        <platform ng-repeat="platform in game.data.platforms"
                                  data="platform"></platform>
                    </div>
                </div>
            </div>
            <hr ng-show="game.state.similarGames.length">
            <div ng-show="game.state.similarGames.length">
                <h4 class="section__title mb-lg">Similar Titles</h4>
                <div>
                    <s-grid col-width="100">
                        <game-box ng-repeat="similar in game.state.similarGames | limitTo:8"
                                  data="similar" s-grid-item>
                        </game-box>
                    </s-grid>
                </div>
            </div>
        </div>
    </div>

    <div class="game-slate">
        <div class="container">
            <div class="slate__icon"></div>
            <div class="text-center" ng-hide="game.state.popularSlates == 'hasData' || game.state.freshSlates == 'hasData'">
                <h3>No Slates</h3>
                <button class="btn btn-primary" ng-click="game.writeSlate()">
                    Why don't you write one?
                </button>
                <div style="margin-bottom: 60px;"></div>
            </div>
            <h4 class="section__title mb-lg pb-lg text-center" ng-show="game.freshSlates.length">Slates</h4>
            <div>
                <s-grid>
                    <slate-box
                            ng-repeat="slate in game.freshSlates"
                            slate="slate" s-grid-item>
                    </slate-box>
                </s-grid>
            </div>
        </div>
    </div>
</div>