<div class="admin__container">
    <main-nav background="true?'light':''"></main-nav>
    <div class="container">
        <div style="width: 400px;">
            <h1>Edit Game <small>Admin</small></h1>
            <div class="alert alert-warning mb-lg" ng-show="adminEditGame.state.error">
                {{adminEditGame.state.error}}
            </div>
            <div class="form-group">
                <label>Game URI</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.uri">
            </div>
            <button class="btn btn-primary mb-lg" ng-click="adminEditGame.getGameData()">Edit</button>
            <button class="btn btn-primary mb-lg" ng-click="adminEditGame.deleteGame()">Delete</button>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.description">
            </div>
            <div class="form-group">
                <label>Original release date</label>
                <input type="date" class="form-control"
                       ng-model="adminEditGame.state.originalReleaseDate">
            </div>
            <div class="form-group">
                <label>Cover image url</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.coverImgUrl">
            </div>
            <div class="form-group">
                <label>ESRB</label>
                <div>
                    <select class="form-control" ng-model="adminEditGame.state.esrb">
                        <option ng-repeat="esrb in adminEditGame.options.esrbs" value="{{ esrb }}">{{ esrb }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Platforms</label>
                <div>
                    <select class="form-control" multiple ng-model="adminEditGame.state.platforms" style="height:200px;">
                        <option ng-repeat="platform in adminEditGame.options.platforms" value="{{ platform }}">{{ platform }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Genres</label>
                <div>
                    <select class="form-control" multiple ng-model="adminEditGame.state.genres" style="height: 200px;">
                        <option ng-repeat="genre in adminEditGame.options.genres" value="{{ genre }}">{{ genre }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Aliases</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.aliases">
            </div>
            <div class="form-group">
                <label>Image 1</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.images[0]">
            </div>
            <div class="form-group">
                <label>Image 2</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.images[1]">
            </div>
            <div class="form-group">
                <label>Video 1</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.videos[0]">
            </div>
            <div class="form-group">
                <label>Video 2</label>
                <input type="text" class="form-control"
                       ng-model="adminEditGame.state.videos[1]">
            </div>
            <div class="text-right">
                <button class="btn btn-primary" ng-click="adminEditGame.submit()">Save</button>
            </div>
        </div>
    </div>
</div>
