<div class="modal-header modal-category-header-{{category.id}}">
    {{category.name}}
</div>
<div class="modal-body modal-category-body">
    {{category.description}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>