<!doctype html>
<html ng-app="gameApp">
<head ng-controller="sharingHead as share">
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <!-- facebook open graph meta tags -->
    <meta property="og:url"                 content="{{share.state.url}}" />
    <meta property="og:type"                content="{{share.state.type}}" />
    <meta property="og:title"               content="{{share.state.title}}" />
    <meta property="og:description"         content="{{share.state.description}}" />
    <meta property="og:image"               content="{{share.state.image}}" />
    <meta property="og:site_name"           content="{{share.state.siteName}}" />
    <meta property="fb:app_id"              content="{{share.state.appId}}" />

    <title ng-bind="share.state.headerTitle"></title>
    <meta name="description" content="{{share.state.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="j2451S_ZUdku4XNSuJnXqNHSPOzApvNfMrxVFtMGGck" />
    <base href="/">
    <meta name="fragment" content="!">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700i" rel="stylesheet">
</head>
<body>
<ui-view></ui-view>
<loader></loader>
<footer></footer>

<% if (!__DEV__) { %>
<!-- recaptcha -->
<script src="//www.google.com/recaptcha/api.js?render=explicit"
        async defer>
</script>

<!-- google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75852208-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- facebook sdk -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1705384936382406',
            xfbml      : true,
            version    : 'v2.6'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<% } %>
</body>
</html>
