<div class="slate__header"
     ng-class="{'slate__header--background': edit.data.coverImgUrl}"
     ng-style="{backgroundImage: 'url('+edit.data.coverImgUrl+')'}">
    <div class="slate__background">
        <main-nav background="edit.data.coverImgUrl?'':'light'"></main-nav>

        <div class="container-slate">
            <!-- slate header info -->
            <div class="slate__header-contain">
                <div class="slate-edit-mode">
                    Draft
                </div>
                <div class="slate__header-info">
                    <textarea class="slate__title slate__title--textarea"
                              rows="1" msd-elastic
                              placeholder="Untitled Slate"
                              ng-change="edit.save()"
                              ng-model="edit.data.title">
                    </textarea>
                    <textarea class="slate__lead slate__lead--textarea"
                              rows="1" msd-elastic
                              placeholder="Optional Lead"
                              ng-change="edit.save()"
                              ng-model="edit.data.subtitle">
                    </textarea>
                    <div class="slate__game-title">
                        For&nbsp;
                        <a ui-sref="game({gameUri: edit.data.game.uri})">
                            {{edit.data.game.title}}
                        </a>
                    </div>
                </div>
                <div class="edit-slate__options">
                    <button ngf-select="edit.selectFile($file)" uib-tooltip="{{edit.data.coverImgUrl?'Change':'Add'}} Cover Image">
                        <icon icon="image"></icon>
                    </button>
                    <!--<div class="edit-slate__upload-btn" uib-tooltip="{{edit.data.coverImgUrl?'Change':'Add'}} Cover Image">-->
                        <!--<button>-->
                            <!--<icon icon="image"></icon>-->
                        <!--</button>-->
                        <!--<input type="file"-->
                               <!--onchange="angular.element(this).scope().edit.setFile(this)">-->
                    <!--</div>-->
		            <span dropdown>
		                <button dropdown-btn uib-tooltip="More Options">
                            <icon icon="more-horiz"></icon>
                        </button>
		                <div class="dropdown-content">
                            <ul class="list-select">
                                <li ng-show="edit.data.coverImgUrl">
                                    <a ng-click="edit.removeCoverImg()">Remove Cover Image</a>
                                </li>
                                <li class="divider" ng-show="edit.data.coverImgUrl"></li>
                                <li ng-click="edit.delete()">
                                    <a>Delete Draft</a>
                                </li>
                            </ul>
                        </div>
		            </span>
                </div>
            </div>

            <!-- slate meta info -->
            <div class="slate-sub">
                <div class="slate-sub__profile-img"
                     profile-image="edit.me.profileImgUrl"
                     color="edit.data.coverImgUrl?'white':'grey'"></div>
                <span class="slate-sub__author">@{{edit.me.username}}</span>
                <span class="hidden-xs">
                    <span class="slate-sub__published" ng-show="edit.data.published">
                        Published {{edit.data.published | defaultDate}}
                    </span>
                    <span class="slate-sub__published" ng-hide="edit.data.published">
                        Not Published Yet
                    </span>
                </span>
                <div class="pull-right">
                    <button class="btn btn-primary-line" ng-click="edit.publish();"
                            ng-class="{'btn-primary-line': !edit.data.coverImgUrl, 'btn-white-line': edit.data.coverImgUrl}">
                        Publish
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-slate">
    <!-- content -->
    <div class="edit-slate__content medium-styles"
         ng-model="edit.data.body"
         medium-editor
         bind-options="edit.editorOptions.content"
         ng-change="edit.save()"></div>
</div>


<div class="slate__content">
    <div class="container-slate">

        <div class="edit-slate__score-title">
            {{edit.data.game.title}}
            <span>scores:</span>
        </div>
        <game-score-chooser
                users="[edit.data.author]"
                game-uri="edit.data.game.uri">
        </game-score-chooser>
    </div>
</div>