<main-nav background="true?'light':''"></main-nav>




<div class="container profile__content">
    <div class="profile-layout__nav">
        <div class="profile__header">
            <div class="profile-me__img" profile-image color="true?'grey':''" size="lg"></div>
            <div class="profile-me__username ellipsis">
                @{{profile.user.username}}
            </div>
            <div class="profile-me__joined">
                Joined {{profile.user.dateJoined | defaultDate}}
            </div>
        </div>

        <ul class="list-select list-select--lg pt-lg">
            <li ng-class="{isActive: profile.currentState=='profile.recentActivity'}" ng-show="profile.signedIn">
                <a ui-sref="profile.recentActivity">Recent Activity</a>
            </li>
            <li ng-class="{isActive: profile.currentState=='profile.slates'}">
                <a ui-sref="profile.slates">Slates</a>
            </li>
            <li ng-class="{isActive: profile.currentState=='profile.wishlist'}">
                <a ui-sref="profile.wishlist">Wishlist</a>
            </li>
            <!--<li ng-class="{isActive: profile.currentState=='profile.scores'}">-->
                <!--<a ui-sref="profile.scores">Scores</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="profile-layout__content">
        <ui-view></ui-view>
    </div>
</div>
    <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<div class="profile-list">-->
                <!--<div class="profile-list__title">-->
                    <!--<icon icon="book"></icon>-->
                    <!--<h4>-->
                        <!--Your Slates-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div class="profile-list__loading load" ng-show="profile.state.slatesComponent == 'loading'">-->
                    <!--<div class="load"></div>-->
                <!--</div>-->
                <!--<div class="profile-list__no-stuff" ng-show="profile.state.slatesComponent == 'noData'">-->
                    <!--You don't have any slates!-->
                <!--</div>-->
                <!--<div class="profile-list__content">-->
                    <!--<div class="draft-preview" ng-repeat="draft in profile.state.drafts.docs" ui-sref="edit({type: 'draft', id: draft._id})">-->
                        <!--<div class="draft-preview__title">-->
                            <!--<div class="mb-sm">-->
                                <!--<span class="label label-primary">Draft</span>-->
                            <!--</div>-->
                            <!--{{draft.title?draft.title:'Untitled'}}-->
                        <!--</div>-->
                        <!--<div class="draft-preview__lead" ng-show="draft.subtitle">-->
                            <!--{{draft.subtitle}}-->
                        <!--</div>-->
                        <!--<div class="draft-preview__excerpt"-->
                             <!--ng-show="!draft.subtitle && draft.excerpt"-->
                             <!--ng-bind-html="draft.excerpt"></div>-->
                        <!--<div class="draft-preview__game">-->
                            <!--<span>{{draft.game.title}}</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<slate-box ng-repeat="slate in profile.state.slates.docs"-->
                               <!--slate="slate"-->
                               <!--size="small"></slate-box>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
            <!--<div class="profile-list">-->
                <!--<div class="profile-list__title">-->
                    <!--<icon icon="bookmark-outline-plus"></icon>-->
                    <!--<h4>-->
                        <!--Your Wishlist ({{profile.state.wishlist.length}})-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div class="profile-list__loading load" ng-show="profile.state.wishlistComponent == 'loading'">-->
                    <!--<div class="load"></div>-->
                <!--</div>-->
                <!--<div class="profile-list__no-stuff" ng-show="profile.state.wishlistComponent == 'noData'">-->
                    <!--Your wishlist is empty!-->
                <!--</div>-->
                <!--<div class="profile-list__content text-center">-->
                    <!--<div class="profile-wishlist"-->
                         <!--ng-repeat="item in profile.state.wishlist">-->
                        <!--<game-box game-title="item.title"-->
                                  <!--cover-img="item.coverImgUrl"-->
                                  <!--game-uri="item.uri"></game-box>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
            <!--<div class="profile-list">-->
                <!--<div class="profile-list__title">-->
                    <!--<icon icon="edit"></icon>-->
                    <!--<h4>-->
                        <!--Your Scores <span ng-show="profile.state.scores.total">({{profile.state.scores.total}})</span>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div class="profile-list__loading load" ng-show="profile.state.scoresComponent == 'loading'">-->
                    <!--<div class="load"></div>-->
                <!--</div>-->
                <!--<div class="profile-list__no-stuff" ng-show="profile.state.scoresComponent == 'noData'">-->
                    <!--You haven't scored any games!-->
                <!--</div>-->
                <!--<div class="profile-list__content">-->
                    <!--<div class="text-center" ng-show="profile.state.scores.total > 5">-->
                        <!--Showing Last 5 Scores-->
                    <!--</div>-->
                    <!--<div class="profile__stat" ng-repeat="stat in profile.state.scores.docs | limitTo: 5">-->
                        <!--{{stat}}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->