<div class="loader-backdrop">
    <div class="loader"></div>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve"><g><polygon style="fill:#253A49;" points="20,40 2.7,30 2.7,10 20,0 37.3,10 37.3,30 "/><g><path style="fill:#FFFFFF;" d="M19,12.5l-5.8,3.3v10.6l-2.2-1.3V14.8l8-4.6V3.2L4.9,11.3v17.4L19,36.8V12.5z M17.1,33.5L6.9,27.6V12.4l10.2-5.9v2.6l-8,4.6v12.6l6,3.5V16.9l1.9-1.1V33.5z"/></g><g><path style="fill:#FFFFFF;" d="M19,12.5l-5.8,3.3v10.6l-2.2-1.3V14.8l8-4.6V3.2L4.9,11.3v17.4L19,36.8V12.5z M17.1,33.5L6.9,27.6V12.4l10.2-5.9v2.6l-8,4.6v12.6l6,3.5V16.9l1.9-1.1V33.5z"/></g><path style="fill:#FFFFFF;" d="M35.1,18.4v-7.1L21,3.2v16l7.3,4.2v2.2L21,21.4v8.4v2.7v4.3l14.1-8.1v-8.1l-8.3-4.8v-2.2L35.1,18.4z M24.8,16.9l8.3,4.8v5.9l-10.2,5.9v-8.8l1.9,1.1v3.9l6-3.5v-3.6l-8-4.6V6.5l10.2,5.9V15l-8.3-4.8L24.8,16.9L24.8,16.9z"/></g></svg>
</div>