<div class="slate__header"
     ng-class="{'slate__header--background': viewSlate.data.coverImgUrl}"
     ng-style="{backgroundImage: 'url('+viewSlate.data.coverImgUrl+')'}">
    <div class="slate__background">
        <main-nav background="viewSlate.data.coverImgUrl?'':'light'"></main-nav>

        <div class="container-slate">
            <!-- slate header info -->
            <div class="slate__header-contain" default-header-contain>
                <div class="slate__header-info">
                    <h1 class="slate__title">
                        {{viewSlate.data.title}}
                    </h1>
                    <h3 class="slate__lead" ng-show="viewSlate.data.subtitle">
                        {{viewSlate.data.subtitle}}
                    </h3>
                    <div class="slate__game-title">
                        For&nbsp;
                        <a ui-sref="game({gameUri: viewSlate.data.game.uri})">
                            {{viewSlate.data.game.title}}
                        </a>
                    </div>
                </div>
            </div>

            <!-- slate meta info -->
            <div class="slate-sub">
                <div class="slate-sub__profile-img" profile-image="viewSlate.data.author.profileImgUrl" color="viewSlate.data.coverImgUrl?'white':'grey'"></div>
                <a class="slate-sub__author" ui-sref="profile.recentActivity({username: viewSlate.data.author.username})">
                    @{{viewSlate.data.author.username}}
                </a>
                <span class="hidden-xs">
                    <span class="slate-sub__published" ng-show="viewSlate.data.publishedDate">Published {{viewSlate.data.publishedDate | defaultDate}}</span>
                    <span class="slate-sub__published" ng-hide="viewSlate.data.publishedDate">Not Published Yet</span>
                </span>
                <div class="pull-right">
                    <thumb-rating slate="viewSlate.data"></thumb-rating>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-slate">
    <!-- content -->
    <div class="edit-slate__content medium-styles"
         ng-bind-html="viewSlate.data.body">
    </div>
</div>


<div class="slate__content">
    <div class="container-slate">

        <div class="edit-slate__score-title">
            {{viewSlate.data.game.title}}
            <span>scores:</span>
        </div>
        <game-score-chooser
                users="[viewSlate.data.author]"
                game-uri="viewSlate.data.game.uri">
        </game-score-chooser>
    </div>
</div>
