<main-nav background="true?'light':''"></main-nav>

<div class="container">
    <div class="home-banner">
        <div class="home-banner__container">
            <div class="home-banner__logo">
                <div class="home-banner__logo-insignia"></div>
                <div class="home-banner__logo-name"></div>
            </div>
            <div class="home-banner__statement">
                Game Slate is a gaming community where anyone can write game reviews, leave fine-tuned ratings, and discover new games.
            </div>
            <div class="home-banner__actions">
                <button class="btn btn-success btn-round btn-lg" ng-click="home.register()" ng-hide="home.state.loggedIn">
                    Sign Up to get started
                </button>
                <button class="btn btn-success btn-round btn-lg" ui-sref="explore({search: 'mario'})" ng-show="home.state.loggedIn">
                    Explore Games and Slates
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="home-content">
        <div class="row">
            <div class="col-sm-9 pr-lg">
                <h3 class="h section__title">
                    Trending Slates
                </h3>
                <div class="home__section">
                    <s-grid col-width="300">
                        <slate-box slate="slate"
                                   ng-repeat="slate in home.state.trendingSlates | limitTo: 10"
                                   show-game-title="true"
                                   s-grid-item></slate-box>
                    </s-grid>
                </div>

                <h3 class="h section__title">
                    Fresh Slates
                </h3>
                <div class="home__section">
                    <s-grid col-width="300">
                        <slate-box slate="slate"
                                   show-game-title="true"
                                   outline="true"
                                   ng-repeat="slate in home.state.freshSlates | limitTo: 10"
                                   s-grid-item></slate-box>
                    </s-grid>
                </div>

            </div>
            <div class="col-sm-3">
                <h3 class="h section__title">
                    New Game Releases
                </h3>
                <div class="home__section">
                    <s-grid col-width="100">
                        <game-box ng-repeat="game in home.state.newGames"
                                  data="game" s-grid-item></game-box>
                    </s-grid>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>