<div class="main-nav">
	<div class="container">
		<a class="main-nav__logo" ui-sref="home" title="Game Slate">
            <div class="main-nav__beta">
                BETA
            </div>
			<div class="main-nav__logo-load" ng-show="mainNav.isLoading">
				<div class="load"></div>
			</div>
			<div class="main-nav__logo-insignia" ng-hide="mainNav.isLoading"></div>
			<div class="main-nav__logo-name"></div>
		</a>
		<div class="main-nav__menu">
			<div class="main-nav__links">
				<button class="btn btn btn-white-transparent hidden-xs" ui-sref="explore">
					Explore
				</button>
                <button class="btn btn btn-white-transparent hidden-xs"
                        ng-click="mainNav.signIn();"
                        ng-hide="mainNav.isAuthenticated">
                    Sign In
                </button>
                <button class="btn btn btn-white-line hidden-xs"
                        ng-click="mainNav.register()"
                        ng-hide="mainNav.isAuthenticated">
                    Register
                </button>
				<button class="btn btn btn-white-transparent mt-sm visible-xs-inline-block"
                        ui-sref="explore"
                        ng-show="mainNav.showSearch">
					<icon icon="search"></icon>
				</button>

				<button class="btn btn btn-white-transparent mt-none visible-xs-inline-block"
                        ng-click="mainNav.openDrawer()">
                    <span profile-image="mainNav.user.profileImgUrl" color="mainNav.backgroundColor=='light'?'grey':'white'"
                          ng-show="mainNav.isAuthenticated"></span>
					<icon icon="menu"></icon>
				</button>
			</div>

			<div class="main-nav__profile hidden-xs" dropdown lean="left" ng-if="mainNav.isAuthenticated">
				<div class="main-nav__profile-img" dropdown-btn>
					<span profile-image="mainNav.user.profileImgUrl" color="mainNav.backgroundColor=='light'?'grey':'white'"></span>
					<span class="caret"></span>
				</div>
				<div class="dropdown-content">
                    <div class="list__header ellipsis">
                        Signed in as <strong>@{{mainNav.user.username}}</strong>
                    </div>
                    <ul class="list-select">
						<li>
							<a ui-sref="profile.recentActivity({username: mainNav.user.username})">
								Your Profile
							</a>
						</li>
                        <li>
                            <a href="https://docs.google.com/forms/d/11gI9rvy33k_GqWwVjj3Rxf79g8P2ZiXD5o9KZYSoX6w/viewform" target="_blank">
                                Give Feedback
                            </a>
                        </li>
                        <li>
                            <a ui-sref="about">
                                About Game Slate
                            </a>
                        </li>
						<li class="divider"></li>
						<li>
							<a ng-click="mainNav.signOut()">
								Sign Out
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-nav__search hidden-xs" ng-show="mainNav.showSearch" ng-class="{'main-nav--authenticated': mainNav.isAuthenticated}">
			<search-input></search-input>
		</div>
	</div>
	<div class="drawer__wrapper" drawer-wrapper ng-click="mainNav.closeDrawer()"></div>
	<div class="drawer" drawer>
        <button class="btn btn-close" ng-click="mainNav.closeDrawer()">
            <icon icon="close"></icon>
        </button>
        <div class="list__header" ng-show="mainNav.isAuthenticated" style="margin-top: 20px;">
            Signed in as <strong>@{{mainNav.user.username}}</strong>
        </div>
        <ul class="list-select">
            <li>
                <a ui-sref="explore" ng-click="mainNav.closeDrawer()">
                    Explore
                </a>
            </li>
            <li>
                <a ui-sref="profile.recentActivity({username: mainNav.user.username})" ng-click="mainNav.closeDrawer()" ng-show="mainNav.isAuthenticated">
                    Your Profile
                </a>
            </li>
            <li>
                <a ng-show="mainNav.isAuthenticated" href="https://docs.google.com/forms/d/11gI9rvy33k_GqWwVjj3Rxf79g8P2ZiXD5o9KZYSoX6w/viewform" target="_blank">
                    Give Feedback
                </a>
            </li>
            <li>
                <a ui-sref="about">
                    About Game Slate
                </a>
            </li>

            <li class="divider"></li>
            <li>
                <a ng-click="mainNav.closeDrawer();mainNav.signOut()" ng-show="mainNav.isAuthenticated">
                    Sign Out
                </a>
            </li>
            <li>
                <a ng-click="mainNav.closeDrawer();mainNav.signIn()" ng-show="!mainNav.isAuthenticated">
                    Sign In
                </a>
            </li>
            <li>
                <a ng-click="mainNav.closeDrawer();mainNav.register()" ng-show="!mainNav.isAuthenticated">
                    Register
                </a>
            </li>
        </ul>
        <div class="drawer__logo">
			<div class="insignia"></div>
			<div class="name"></div>
		</div>
	</div>
</div>
