<div class="thumb-rating" ng-if="!thumb.hideModule">
    <button class="thumb-rating__up"
            ng-click="thumb.rate('up');"
            ng-class="{active: thumb.state.userRating == 'up'}">
        <icon icon="thumb-up"></icon>
        <span>{{thumb.state.upVotes}}</span>
    </button>
    <button class="thumb-rating__down"
            ng-click="thumb.rate('down');"
            ng-class="{active: thumb.state.userRating == 'down'}">
        <icon icon="thumb-down"></icon>
        <span>{{thumb.state.downVotes}}</span>
    </button>
</div>