<button class="btn btn-close" ng-click="register.close()">
    <icon icon="close"></icon>
</button>


<div class="auth__logo">
    <div class="auth__logo-insignia"></div>
    <div class="auth__logo-name"></div>
</div>

<div ng-show="register.state.component == 'form'">
    <div class="modal__body mt-lg">
        <h4 class="mb-md">Register</h4>
        <p class="mb-lg">
            Write slates, rate games and contribute to the gaming community.
        </p>

        <form name="registerForm" novalidate>
            <div class="form-group" ng-class="{'has-error': registerForm.email.$dirty && registerForm.email.$touched && registerForm.email.$invalid}">
                <label for="email" ng-class="{'control-label': registerForm.email.$dirty && registerForm.email.$touched && registerForm.email.$invalid}">
                    Email *
                </label>
                <input id="email"
                       name="email"
                       ng-model="register.form.email"
                       ng-change="register.checkEmail(register.form.email)"
                       type="email"
                       class="form-control"
                       required>
                <div class="input-loading" ng-show="register.state.emailLoading">
                    <div class="load"></div>
                </div>
                <div class="input-right-icon" ng-show="register.state.emailThumb && registerForm.email.$valid && !state.emailError">
                    <icon icon="thumb-up"></icon>
                </div>
            <span class="form__error" ng-show="register.state.emailError">
                {{register.state.emailError}}
            </span>
            </div>
            <div class="form-group form__input-prefix-container" ng-class="{'has-error': (registerForm.username.$dirty && registerForm.username.$touched && registerForm.username.$invalid) || register.state.usernameError}">
                <label for="username" ng-class="{'control-label': (registerForm.username.$dirty && registerForm.username.$touched && registerForm.username.$invalid)  || register.state.usernameError}">
                    Handle *
                </label>
                <div class="form__input-prefix ng-binding">@</div>
                <input id="username" name="username"
                       ng-model="register.form.username"
                       type="text"
                       class="form-control"
                       required
                       minlength="3"
                       ng-keyup="register.lowerCase(register.form.username)"
                       ng-change="register.checkUsername(register.form.username)">
                <div class="input-loading" ng-show="register.state.usernameLoading">
                    <div class="load"></div>
                </div>
                <div class="input-right-icon" ng-show="register.state.usernameThumb && registerForm.username.$valid && !register.state.usernameError">
                    <icon icon="thumb-up"></icon>
                </div>
                <span class="form__error" ng-show="registerForm.username.$dirty && registerForm.username.$touched && registerForm.username.$invalid">
                    Minimum of 3 characters required
                </span>
                <span class="form__error" ng-show="register.state.usernameError">
                    {{register.state.usernameError}}
                </span>
            </div>
            <div class="form-group" ng-class="{'has-error': registerForm.password.$dirty && registerForm.password.$touched && registerForm.password.$invalid}">
                <label for="email" ng-class="{'control-label': registerForm.password.$dirty && registerForm.password.$touched && registerForm.password.$invalid}">
                    Password *
                </label>
                <input id="email" name="password" ng-model="register.form.password" type="password" class="form-control" minlength="5" required>
                <div class="input-right-icon" ng-show="registerForm.password.$valid">
                    <icon icon="thumb-up"></icon>
                </div>
                <span class="form__error" ng-show="registerForm.password.$dirty && registerForm.password.$touched && registerForm.password.$invalid">
                    Minimum of 3 characters required
                </span>
            </div>
            <div class="form-group">
                <label for="grecaptcha">Recaptcha *</label>
                <grecaptcha ng-model="register.form.captcha"></grecaptcha>
            </div>
        </form>
    </div>

    <div class="modal__footer">

        <button class="btn btn-primary"
                ng-disabled="registerForm.$invalid || register.state.emailError || register.state.usernameError || !register.form.captcha"
                ng-click="register.submit()">
            Register
        </button>
        <button class="btn btn-grey-transparent" ng-click="register.close()">
            Cancel
        </button>
    </div>
</div>

<div ng-show="register.state.component == 'loading'" style="position:relative;height: 300px;">
    <div class="load"><div class="load"></div></div>
</div>