<button class="btn btn-close" ng-click="rateGame.close()">
    <icon icon="close"></icon>
</button>

<div class="modal__header">
    <h4>
        Score this Game<br>
        <span class="small">{{rateGame.game.title}}</span>
    </h4>
</div>

<div ng-show="rateGame.tsModalReady">
    <div class="modal__body">
        <div class="rate-game__container rate-game__container--rate">
            <div class="game-score">
                <div class="game-score__title">
                    Gameplay
                </div>
                <div class="game-score__score" ng-show="rateGame.rating.gameplay.touched">
                    {{rateGame.rating.gameplay.score}}
                </div>
                <div class="game-score__bar">
                    <div class="game-score__bar-amount"
                         ng-style="{
                        'width': rateGame.rating.gameplay.score*10 + '%',
                        'backgroundColor': (rateGame.rating.gameplay.score | ratingColor)
                    }"></div>
                    <slider ng-model="rateGame.rating.gameplay.score" floor="0" ceiling="10"
                            ng-change="rateGame.rating.gameplay.touched=true"></slider>
                </div>
            </div>
            <div class="game-score">
                <div class="game-score__title">
                    Music/Sound
                </div>
                <div class="game-score__score" ng-show="rateGame.rating.sound.touched">
                    {{rateGame.rating.sound.score}}
                </div>
                <div class="game-score__bar">
                    <div class="game-score__bar-amount"
                         ng-style="{
                        'width': rateGame.rating.sound.score*10 + '%',
                        'backgroundColor': (rateGame.rating.sound.score | ratingColor)
                    }"></div>
                    <slider ng-model="rateGame.rating.sound.score" floor="0" ceiling="10"
                            ng-change="rateGame.rating.sound.touched=true"></slider>
                </div>
            </div>
            <div class="game-score">
                <div class="game-score__title">
                    Controls
                </div>
                <div class="game-score__score" ng-show="rateGame.rating.controls.touched">
                    {{rateGame.rating.controls.score}}
                </div>
                <div class="game-score__bar">
                    <div class="game-score__bar-amount"
                         ng-style="{
                        'width': rateGame.rating.controls.score*10 + '%',
                        'backgroundColor': (rateGame.rating.controls.score | ratingColor)
                    }"></div>
                    <slider ng-model="rateGame.rating.controls.score" floor="0" ceiling="10"
                            ng-change="rateGame.rating.controls.touched=true"></slider>
                </div>
            </div>
            <div class="game-score">
                <div class="game-score__title">
                    Story
                </div>
                <div class="game-score__score" ng-show="rateGame.rating.story.touched">
                    {{rateGame.rating.story.score}}
                </div>
                <div class="game-score__bar">
                    <div class="game-score__bar-amount"
                         ng-style="{
                        'width': rateGame.rating.story.score*10 + '%',
                        'backgroundColor': (rateGame.rating.story.score | ratingColor)
                    }"></div>
                    <slider ng-model="rateGame.rating.story.score" floor="0" ceiling="10"
                            ng-change="rateGame.rating.story.touched=true"></slider>
                </div>
            </div>
            <div class="game-score">
                <div class="game-score__title">
                    Graphics
                </div>
                <div class="game-score__score" ng-show="rateGame.rating.graphics.touched">
                    {{rateGame.rating.graphics.score}}
                </div>
                <div class="game-score__bar">
                    <div class="game-score__bar-amount"
                         ng-style="{
                        'width': rateGame.rating.graphics.score*10 + '%',
                        'backgroundColor': (rateGame.rating.graphics.score | ratingColor)
                    }"></div>
                    <slider ng-model="rateGame.rating.graphics.score" floor="0" ceiling="10"
                            ng-change="rateGame.rating.graphics.touched=true"></slider>
                </div>
            </div>
            <div class="game-score">
                <div class="game-score__title">
                    Replay Value
                </div>
                <div class="game-score__score" ng-show="rateGame.rating.replayValue.touched">
                    {{rateGame.rating.replayValue.score}}
                </div>
                <div class="game-score__bar">
                    <div class="game-score__bar-amount"
                         ng-style="{
                        'width': rateGame.rating.replayValue.score*10 + '%',
                        'backgroundColor': (rateGame.rating.replayValue.score | ratingColor)
                    }"></div>
                    <slider ng-model="rateGame.rating.replayValue.score" floor="0" ceiling="10"
                            ng-change="rateGame.rating.replayValue.touched=true"></slider>
                </div>
            </div>
            <div class="game-score" style="height:80px;">
                <div class="game-score__title" style="padding-top: 11px;">
                    Playtime
                </div>
                <div class="game-score__bar" style="height: 40px; background: none;">
                    <input type="number" class="form-control" ng-model="rateGame.rating.playTime.score">
                    <span class="small">(Estimate total hours played)</span>
                </div>
            </div>
            <div class="alert alert-warning mt-lg" ng-show="rateGame.state.component == 'error'">
                Please score all categories before submitting
            </div>
        </div>
    </div>
    <div class="modal__footer">
        <button class="btn btn-primary" ng-click="rateGame.submit()">
            Submit
        </button>
        <button class="btn btn-grey-transparent" ng-click="rateGame.close()">
            Cancel
        </button>
    </div>
</div>

<div class="modal__loading" ng-hide="rateGame.tsModalReady">
    <div class="load"><div class="load"></div></div>
</div>