.about__container {
	padding-top: 100px;
}

.about-team__member {
	text-align: center;
	width: 160px;
	display: inline-block;
	margin-top: 40px;
}

.about-team__member-img {
	border-radius: 50px;
	height: 80px;
	width: 80px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.about-team__member-name {
	font-size: 18px;
	font-weight: 700;
	margin-top: 6px;
}

.about-team__member-info {
	font-size: 16px;
	margin-top: 4px;
}

.about-team__member-links a {
	padding: 2px 4px;
	font-size: 12px;
	background-color: transparent;
	border: solid 1px transparent;

	&:hover {
		background-color: $color-grey-100;
	}
}