.auth__contain {
	margin: 0 auto;
}

.auth__logo {
	background-color: $color-silver;
	border-bottom: solid 1px darken($color-silver, 5%);
	padding: 30px 0;
	border-top-left-radius: $border-radius-base;
	border-top-right-radius: $border-radius-base;

	.auth__logo-insignia {
		width: 34px;
		height: 34px;
		@include svg-logo-insignia-grey;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 auto 4px auto;
	}

	.auth__logo-name {
		height: 30px;
		width: 110px;
		@include svg-logo-name-grey;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 auto;
	}
}

.grecaptcha {
	transform: scale(0.88);
	transform-origin: left;
}