.game-header {
	padding-top: 50px;
}

.game-info {
	background-color: #fff;
	padding: 20px 0 60px 0;
	border-bottom: solid 1px #E6EBEF;

	@media (min-width: $screen-sm-min) {
		padding: 40px 0 80px 0;
	}
}

.game-info__stats-container {
	margin: $base-spacing-half 0;
	@include clearfix();
}

.game-info__stats {
	padding: 10px;
	height: 68px;
	border-radius: $border-radius-base;
	width: 100%;
	cursor: pointer;

	.ci {
		float: left;
		margin-right: 10px;
	}

	&:hover {
		background-color: darken($color-silver, 5%);
	}

	@media (min-width: 400px) {
		width: 50%;
		float: left;
	}

	@media (min-width: $screen-sm-min) {
		width: 33.333333%;
	}

	@media (min-width: $screen-md-min) {
		width: 50%;
	}

	@media (min-width: $screen-lg-min) {
		width: 50%;
	}
}

.game-info__scoring-wrapper {
	margin-bottom: $base-spacing-full;
	@include clearfix;
}

.game-info__stats-static {
	padding: 10px;
	height: 68px;
	cursor: default;
	border-radius: $border-radius-base;
	border-bottom: solid 1px $color-grey-50;
	@include clearfix();

	.ci {
		float: left;
		margin-right: 10px;
	}
}

.game-info__stats-title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: $color-primary-400;
}

.game-info__stats-value {
	color: $color-primary-500;
	margin-top: 2px;
	font-size: 24px;
}
.game-info__stats-input {
	padding-right: 75px;
}
.game-info__stats-submit {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.game-info__images {
	position: relative;
	background: $color-primary-700;
	border-radius: $border-radius-base;
	@include aspect-ratio(16, 9);
}

.game-info__no-rating-wrapper {
	margin: 3px;
}

.game-info__no-rating {
	box-sizing: border-box;
	text-transform: uppercase;
	display: block;
	width: 100%;
	line-height: normal;
}

.game-info__description {

}

.game-tags {
	@include clearfix;
	margin-top: 20px;
}

.game-tags__key {
	float: left;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 28px;
}

.game-tags__value {
	margin-left: 60px;
	white-space: nowrap;
	overflow: hidden;

	&:after {
		content: '';
		background-color: red;

	}
}

.game-tags__item {
	border-radius: $border-radius-base;
	padding: 6px 8px;
	border: solid 1px darken($color-silver, 10%);
	display: inline-block;
	font-size: 12px;
	color: $color-grey-700;
	margin-right: 4px;
}

.game__similar {
	.game-box {
		display: inline-block;
		margin: 0 20px 20px 0;
	}
}