.home-slider {
	height: 400px;
	border-radius: $border-radius-base;
}

.hero-style1 {
  margin: 140px 0 0 0;
	padding: 20px;

  .title {
    margin: 4px 0;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
  }

  .lead {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
	  font-style: italic;
  }

  @media (min-width: $screen-sm-min) {
	  padding: 0 60px;
  }

  @media (min-width: $screen-md-min) {
  }
}

.hero-style1__author {
	margin-right: 20px;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	font-weight: 500;

	span {
		margin-right: 5px;
	}
}

.home-content {
	margin: 40px 0;
}

.home__section {
	margin: 20px 0 40px 0;
}

.home-banner {
	margin-top: 70px;
	background-image: url('https://res.cloudinary.com/game-slate/image/upload/v1460668141/space_lyepfx.jpg');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: $border-radius-base;
	text-align: center;
}

.home-banner__logo {
	width: 120px;
	margin: 0 auto 20px auto;
}

.home-banner__logo-name {
	height: 30px;
	@include svg-logo-name-white;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 3px;
}

.home-banner__logo-insignia {
	height: 30px;
	@include svg-logo-insignia-white;
	background-position: center;
	background-repeat: no-repeat;
}

.home-banner__container {
	padding: 40px 20px;
}

.home-banner__statement {
	color: #fff;
	font-size: 24px;

	@media (min-width: $screen-md-min) {
		width: 500px;
		margin: 0 auto;
	}
}

.home-banner__because {
	color: #fff;
	font-size: 18px;
	margin: 10px auto 0 auto;

	@media (min-width: $screen-md-min) {
		width: 460px;
	}
}

.home-banner__actions {
	margin-top: 30px;

	.btn {
		margin: 0 10px;
	}
}