.profile__header {
	position: relative;
	margin-bottom: 10px;
}

.profile-me__img {
	display: inline-block;
	margin: 0 20px 0 10px;
	float: left;
}

.profile-me__username {
	font-size: 16px;
	font-weight: 500;
	padding-top: 5px;
}

.profile-me__joined {
	color: $color-grey-400;
	font-style: italic;
	margin-top: 4px;
}

.profile-list {
	padding: 40px 0;
	border-bottom: solid 2px darken($color-silver, 5%);

	@media (min-width: $screen-md-min) {
		border: none;
	}
}

.profile-list__title {
	text-align: center;

	svg.icon {
		width: 26px;
		height: 26px;
		fill: $color-grey-500;
	}
}

.profile-list__no-stuff {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: $color-grey-500;
}

.profile-list__loading {
	position: relative;
	height: 40px;
}

.profile__content {
	margin-top: 100px;
	margin-bottom: 100px;
	min-height: 400px;
}

.profile-layout__nav {
	width: 200px;
	float: left;
	position: fixed;
	top: 100px;
}

.profile-layout__content {
	margin-left:  240px;
}


.activity-list-item {
	border-bottom: solid 1px $color-grey-75;
	padding: 20px 0;
}

.activity-list-item__verse {
	font-size: 16px;
	margin-right: 120px;

	> span {
		vertical-align: middle;
		display: inline;
	}

	a {
		font-weight: 500;
	}

	svg {
		padding-top: 4px;
		margin-right: 10px;
		width: 20px;
		height: 20px;
		fill: $color-grey-500;
	}
}

.activity-list .activity-list-item:last-child {
	border: none;
}

.activity-list-item__date {
	float: right;
	color: $color-grey-500;
	font-size: 12px;
	font-weight: 500;
	padding-top: 4px;
}