.search__container {
	padding-top: 50px;
}

.search__top {
	padding-bottom: 50px;
}

.search__tabs {
	margin-top: 40px;
}

.search-list {
	border-collapse: collapse;
	margin: 30px 0;
	width: 100%;

	tr {
		&:hover {
			td {
				cursor: pointer;
				background-color: darken($color-silver, 1%);
			}
			td:first-child {
				border-top-left-radius: $border-radius-base;
				border-bottom-left-radius: $border-radius-base;
			}
			td:last-child {
				border-top-right-radius: $border-radius-base;
				border-bottom-right-radius: $border-radius-base;
			}
		}
	}
}

.search-list__img {
	width: 60px;
	padding: 10px;

	div {
		width: 58.7px;
		height: 67.5px;
		background-color: darken($color-silver, 10%);
		border-radius: $border-radius-base;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border: solid 1px darken($color-silver, 5%);
	}
}

.search-list__title {
	font-size: 18px;
	padding-left: 15px;
	color: $color-primary-500;
}

.search-list__img-none {
	padding-top: 24px;
	text-align: center;

	svg.icon {
		fill: $color-primary-100;
	}
}



.search__box {
	position: relative;
	margin-top: -22px;

	input {
		padding: 10px 14px 10px 48px;
		border-radius: 24px;
		font-size: 18px;
		font-weight: 500;
	}

	.search__box-icon {
		position: absolute;
		top: 14px;
		left: 16px;

		svg.icon {
			fill: $color-grey-300;
		}
	}
}

.search__results {
	border-top: solid 1px darken($color-silver, 5%);
	border-bottom: solid 1px darken($color-silver, 5%);
	padding-bottom: 80px;
	background-color: #fff;
}