.slate__header {
	position: relative;
}

.slate__background {
	padding-top: 50px;
}

.slate__header-contain {
	color: $color-grey-900;
	text-align: center;
	padding: 60px 0 20px 0;
	position: relative;

	@media (min-width: $screen-sm-min) {
		padding: 80px 0 20px 0;
	}
}

.slate__header-info {

	@media (min-width: $review-md-min) {
		margin-right: 200px;
	}
}

.slate-edit-mode {
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	background-color: $color-primary-500;
	color: #fff;
	padding: 4px 10px;
	border-radius: 20px;
	margin-top: -30px;
	margin-bottom: 10px;
	text-transform: uppercase;
	display: inline-block;

	@media (min-width: $review-md-min) {
		float: left;
	}
}

.slate__title {
	min-height: 35px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 $base-spacing-unit 0;

	&.slate__title--textarea {
		width: 100%;
		border: none;
		background: none;
		margin-bottom: 0;
		resize: none;

		&:hover:not(:focus) {
			border-radius: $border-radius-base;
			background: darken($color-silver, 5%);
		}
	}

	@media (min-width: $review-md-min) {
		text-align: left;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 40px;
		min-height: 48px;
	}
}

.slate__lead {
	min-height: 24px;
	font-size: 20px;
	font-weight: 400;
	opacity: .8;
	font-style: italic;
	text-align: center;
	margin: 0;

	&.slate__lead--textarea {
		width: 100%;
		border: none;
		background: none;
		margin-bottom: 0;
		resize: none;

		&:hover:not(:focus) {
			border-radius: $border-radius-base;
			background: darken($color-silver, 5%);
		}
	}

	@media (min-width: $review-md-min) {
		text-align: left;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		min-height: 29px;
	}
}

.slate__game-title {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
	color: $color-grey-300;

	a {
		color: $color-primary-200;
	}

	@media (min-width: $review-md-min) {
		text-align: left;
	}
}


.slate-sub {
	border-bottom: solid 2px $color-grey-75;
	padding: 12px 0;
}

.slate-sub__profile-img {
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
}

.slate-sub__author {
	vertical-align: middle;
	font-style: italic;
	margin-right: 20px;
}

.slate-sub__published {
	vertical-align: middle;
	font-style: italic;
	color: $color-grey-500;
}


.edit-slate__options {
	text-align: center;
	cursor: default;
	margin-top: 20px;

	@media (min-width: $review-md-min) {
		margin-top: 20px;
		position: absolute;
		padding-right: 36px;
		top: 60px;
		right: 0;
	}

	@media (min-width: $screen-sm-min) {
		top: 90px;
	}

	button {
		margin: 0 5px;
		display: inline-block;
		border: none;
		background: transparent;
		border-radius: $border-radius-base;
		width: 30px;
		height: 30px;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		cursor: default;

		svg.icon {
			fill: rgba($color-primary-500, .5);
			width: 24px;
			height: 24px;
		}

		&:hover {

			svg.icon {
				fill: $color-primary-500;
			}
		}
	}
	@media (min-width: $screen-sm-min) {
	}
}

.edit-slate__upload-btn {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;

	input {
		width: 30px;
		height: 30px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		padding: 0;
		margin: 0;
	}

	button {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
	}

	&:hover {
		svg.icon {
			fill: $color-primary-500;
		}
	}
}

.angular-medium-editor.medium-editor-placeholder {
	&:hover {
		background-color: darken($color-silver, 5%) !important;
		border-radius: $border-radius-base;
	}
}


.slate__header.slate__header--background {
	background-position: center;
	background-size: cover;

	.slate__background {
		background-color: rgba($color-primary-700, .7);
	}

	.slate__header-contain {
		color: #fff;
		padding: 80px 0 60px 0;

		@media (min-width: $screen-sm-min) {
			padding: 120px 0 120px 0;
		}
	}

	.slate__header-info {
		@media (min-width: $review-md-min) {
			margin-right: auto;
		}
	}

	.slate-edit-mode {
		text-align: center;
		float: none;
		display: inline-block;
	}

	.slate__title {
		@media (min-width: $review-md-min) {
			text-align: center;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 40px;
			min-height: 48px;
		}

		&.slate__title--textarea:hover:not(:focus) {
			background-color: rgba(#fff, .1);
		}
	}

	.slate__lead {
		@media (min-width: $review-md-min) {
			text-align: center;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 24px;
			min-height: 29px;
		}

		&.slate__lead--textarea:hover:not(:focus) {
			background: rgba(#fff, .1);
		}
	}

	.slate__game-title {
		text-align: center;
		color: rgba($color-grey-300, .7);

		a {
			color: rgba(#fff, .7);

			&:hover {
				color: #fff;
			}
		}
	}

	.slate-sub {
		border-bottom: solid 2px transparent;
	}

	.slate-sub__author {
		color: #fff;
	}

	.slate-sub__published {
		color: #fff;
	}

	.edit-slate__options {
		text-align: center;
		margin: 20px 0 0 0;

		@media (min-width: $review-md-min) {
			margin: 20px 0 0 0;
			position: relative;
			padding-right: 0;
			top: auto;
			right: auto;
		}

		@media (min-width: $screen-sm-min) {
			top: auto;
		}

		button {
			svg.icon {
				fill: rgba(#fff, .7);
			}

			&:hover {

				svg.icon {
					fill: #fff;
				}
			}
		}
	}

	.edit-slate__upload-btn {
		&:hover {
			svg.icon {
				fill: #fff;
			}
		}
	}


	.angular-medium-editor.medium-editor-placeholder {
		&:hover {
			background-color: rgba($color-primary-500, .5) !important;
		}
	}
}


.edit-slate__content {
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	min-height: 60px;

	h2 {
		font-size: 34px;
		margin: 28px 0 0 0;
	}

	h3 {
		margin: 28px 0 0 0;
		font-size: 22px;
		color: rgba($color-primary-700, .5);
		font-style: italic;
		font-weight: 400;
	}

	p {
		line-height: 1.4em;
		font-size: 18px;
		margin: 20px 0 0 0;
	}

	blockquote {
		margin: 30px 10px;
		font-style: italic;
		font-weight: 300;
		font-size: 20px;
		color: $color-grey-900;

		span {
			font-size: inherit !important;
		}
	}

	h2 + h3 {
		margin-top: 6px;
	}

	h2 + p {
		margin-top: 6px;
	}

	h3 + p {
		margin-top: 10px;
	}

	@media (min-width: $review-sm) {
		h2 {
			font-size: 36px;
			margin: 30px 0 0 0;
		}

		h3 {
			margin: 30px 0 0 0;
			font-size: 24px;
			color: rgba($color-primary-700, .5);
			font-style: italic;
			font-weight: 400;
		}

		p {
			line-height: 1.4em;
			font-size: 20px;
			margin: 30px 0 0 0;
		}

		blockquote {
			margin: 40px 20px;
			font-style: italic;
			font-weight: 300;
			font-size: 24px;
			color: $color-grey-900;

			span {
				font-size: inherit !important;
			}
		}

		h2 + h3 {
			margin-top: 10px;
		}

		h2 + p {
			margin-top: 10px;
		}

		h3 + p {
			margin-top: 14px;
		}
	}

}

.slate__content {
	padding: 0 0 40px 0;
	background-color: #fff;
	border-top: solid 2px darken($color-silver, 5%);
}

.edit-slate__score-title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin: 60px 0 20px 0;

	span {
		font-weight: 300;
	}
}
